@charset 'UTF-8';
@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
/* VARIABLES */
:root {
  --orange-color: rgb(220, 123, 38);
  --grape-color: rgb(81, 16, 179);
}

/* RESET */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font: inherit;
}
image,
video,
picture,
svg {
  width: 100%;
  display: block;
}
html {
  font-size: 1rem;
  color-scheme: dark light;
}
body {
  font-family: "Press Start 2P", cursive;
  min-height: 100vh;
}

/*GENEREAL*/
.hidden {
  display: none !important;
}

/* LAYOUT */
body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* ------------------- */
.OrangeOrGrapeQuestion {
  margin: auto;
  display: flex;
  align-items: center;
}
.OrangeOrGrapeQuestion h2 {
  margin: 1rem;
  font-size: clamp(1.6rem, 2vw, 3rem);
}
.OrangeOrGrapeQuestion button {
  margin: 1rem;
  width: 12rem;
  font-size: 1.2rem;
  border: none;
  padding: 1rem;
}
.OrangeOrGrapeQuestion button:hover {
  cursor: pointer;
  opacity: 0.9;
}
.orange-option {
  background-color: var(--orange-color);
}
.grape-option {
  background-color: var(--grape-color);
}
@media screen and (max-width: 65em) {
  .OrangeOrGrapeQuestion {
    flex-direction: column;
  }
}
/* ------------------- */

.glasses-pitchers {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
}

/* ------------------- */
.glasses {
  display: flex;
  gap: 1rem;

  padding: 1rem;
  align-self: stretch;
}
section[class$="glass"] {
  display: flex;
  flex-grow: 1;
  height: 35rem;
  background-color: rgb(69, 69, 69);
  align-items: center;
  justify-content: center;
  transition: all 0.3s;
}
section[class$="glass"]:hover {
  cursor: pointer;
  background-color: rgba(69, 69, 69, 0.829);
}
section[class$="glass"] .left-image-glass,
section[class$="glass"] .right-image-glass {
  width: 25rem;
}
.btn-container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 1rem;
}
.btn {
  flex-grow: 1;
  width: 100%;
  align-self: flex-start;
  padding: 1rem;
  z-index: 1;
}
.btn:hover {
  cursor: pointer;
  opacity: 0.9;
}
.deactive section[class$="glass"] {
  background-color: rgb(69, 69, 69);
  opacity: 0.2;
}
.deactive .btn.refill-glasses {
  display: none;
}
.deactive section[class$="glass"]:hover {
  cursor: context-menu;
}
@media screen and (max-width: 68em) {
  .glasses {
    flex-direction: column;
  }
  .left-glass {
    order: 0;
  }
  .btn-container {
    order: 2;
  }
  .right-glass {
    order: 1;
  }
}
/* ------------------- */

/* ------------------- */
[class$="message"] {
  position: absolute;
  top: 50%;
  transform: translate(0%, -50%);
  z-index: 2;
  gap: 2rem;
  width: 100%;
  font-size: clamp(1.2rem, 2vw, 4rem);
  text-align: center;
  padding: 2rem;
}
/* ------------------- */

.pitchers {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;

  gap: 4rem;
  padding: 1rem;
}
section[class$="pitcher"] {
  display: flex;
  align-items: center;
  padding: 1rem;
  flex-direction: column;
  gap: 2rem;
  flex-grow: 1;
}
section[class$="pitcher"] [class$="pitcher"] {
  width: 12rem;
}
.pither-information {
  font-size: 1.2rem;
  color: white;
}
@media screen and (max-width: 45em) {
  .pitchers {
    flex-direction: column;
  }
}
